.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    overflow-y: auto;
    padding: 4px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: calc(100vh - 290px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gridContainer::-webkit-scrollbar {
    display: none;
}

.customMultiplier {
    width: 100%;
    max-width: none;
}

@media (min-width: 360px) {
    .gridContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 496px) {
    .gridContainer {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (min-width: 696px) {
    .gridContainer {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media (min-width: 896px) {
    .gridContainer {
        grid-template-columns: repeat(13, 1fr);
    }
}

@media (min-width: 1280px) {
    .gridContainer {
        grid-template-columns: repeat(6, 1fr);
    }
}
