.pageGrid {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.betsArea {
    order: 2;
}

.controlsArea {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.gameStageArea {
    width: 100%;
    height: 514px;
}

.mainContent {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 768px) {
    .pageGrid {
        display: flex;
        /* flex-direction: row; */
        gap: 8px;
    }

    .betsArea {
        order: 2;
    }

    .controlsArea {
        display: flex;
        gap: 8px;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        order: 1;
    }
}


@media (min-width: 1280px) {
    .pageGrid {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .betsArea {
        order: 1;
    }

    .controlsArea {
        display: flex;
        gap: 8px;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        width: 100%;
        order: 2;
    }
}

@media (min-width: 1280px) {
    .pageGrid {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .betsArea {
        order: 1;
    }

    .controlsArea {
        display: flex;
        order: 2;
        gap: 8px;
        width: 100%;
        justify-content: space-between;
    }

    .gameStageArea {
        width: 100%;
        height: 514px;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }
}

@media (min-width: 1440px) {
    .pageGrid {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .betsArea {
        order: 1;
    }

    .controlsArea {
        display: flex;
        order: 2;
        gap: 8px;
        width: 100%;
        justify-content: space-between;
    }

    .gameStageArea {
        width: 100%;
        height: 514px;
    }

    .mainContent {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }
}